body{
	margin: auto;
	padding: 15px;
	font-family: "adelle-sans";
  font-style: normal;
  font-weight: 600;
  float:auto;
}
#title{
  margin: auto;
  padding: 20px;
  font-family: "adelle-sans";
  font-style: normal;
  font-weight: 600;
  float:auto;
  color:black;
}
header {
  padding: 10px;
  font-family: "adelle-sans";
  background-color: #18b2f4;
  margin:auto;
  font-style: normal;
  font-weight: 600;
  color: #700;
  width: 100%;
}
