{%block content%}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("content").hide();
            }
            // ]]></script>
<div id="loading"></div>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='css/loading.css')}}">

<h1><strong>Validate Marketing Emails</strong></h1>	
</head>
<body>
<p>To use, first upload a .csv file with the emails in a column labeled, "Emails".</p> 
<p>Please be patient, as the process may take a few minutes depending on the size of the list.</p>
<form name="upload" action="{{ url_for('email_validation') }}" method="POST", enctype="multipart/form-data">
	<input type="file" name="upload"> <br>
	<input type ="submit" value="Start The Magic Machine!">
</form>
</body>
<strong><nav>
            <h4><a href="{{ url_for('marketing') }}">Marketing Campaigns</a></h4>
            <h4></h4><a href="{{ url_for('newsletter') }}">Newsletter</a></h4>
        </nav></strong>
{%endblock%}
