{%extends "home.html"%}
{%block content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js | safe}}></script>
{{script1 | safe}}
{{div1 | safe}}
<script type="table/html" src={{html_table | safe}}></script>
{{html_table | safe}}
<strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('newsletter') }}">Newsletter</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </nav></strong>
{%endblock%}
